<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/assets/styles.css" rel="stylesheet">
  <title>PE Tracker</title>
</head>
<body>
  <h1>PE Tracker</h1>

  <div id="resultTitle">
    <h3>Timer</h3>
    <h3>Percentage</h3>
    <h3>#</h3>
  </div>
  
  <div id="taskButtons">
    <% tasks.forEach(function(r) {%>
      <ul>
        <input class="timer" id='timer <%= r.id %>', value=0></input>
        <input class="percent" id='percentage <%= r.id %>'></input>
        <p id='<%= r.id %>'> <%= r.id %> </p>
      </ul>
  
      <button id='button<%= r.id %>' onclick="javascript:logTask(<%= r.id %>, document.getElementById('timer <%= r.id %>').value)"><%= r.name %></button><br><br>

    <% }); %>
  </div>
  <script>
    let currentTaskId = null;

    const logTask = async function(id, duration) {
      const response = await fetch('/log', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          users_id: -1,
          students_id: -1,
          task_id: id,
          duration: duration
        })
      });
      
      const result = await response.text();
      console.log(result);
      currentTaskId = id;
    };
  </script>
</body>
</html>